h1, h2, h3, h4 {
    margin: 10px;
    text-align: center;

}

.settings-title {
  padding: 50px 20px;
  text-align: center;
}

.settings-title h1 {
  font-family: 'Righteous', cursive;
  position: relative;
  color: midnightblue;
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 3em;
  padding: 11px 60px;
  margin: 0;
  line-height: 1;
}

.settings-title h1:before, .settings-title h1:after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background: repeating-linear-gradient(180deg, transparent, transparent 2px, royalblue 2px, royalblue 4px);
}

.settings-title h1:before {left: 0;}
.settings-title h1:after {right: 0;}
@media (max-width: 420px) {
  .settings-title h1 {font-size: 2em;}
}

.main-container {
    background: #4070a0;
}

.display-table {
    background: white;
    width: 95%;
    table-layout: fixed;
    margin-bottom: 5px;
    margin-left: 3%;
}

.bordered-box {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 80px;
    text-align: center;
    color: white;
}

.numbers {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 40px;
    text-align: center;
    color: midnightblue;
}

.div-center {
    text-align: center;
}

.game-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px royalblue inset, 0 0 0 0 midnightblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

.new-game-button {
    padding: 15px 40px;
    font-size: 1rem;
}

.new-game-button:hover {
    box-shadow: 0 0 10px 0 royalblue inset, 0 0 10px 4px midnightblue;
    color: royalblue;
}

.game-button:hover {
    box-shadow: 0 0 10px 0 royalblue inset, 0 0 10px 4px midnightblue;
    color: royalblue;
}

.me {
    width: 50%;
    float: right;
}

.robot {
    width: 50%;
    float: left;
}

.top-panel{
    text-align: center;
    white-space:nowrap;
    vertical-align: top;
}

.container{
    overflow:hidden;
}

.top-panel div{
    display:inline-block;
}

.current-loto-number{
    width: 10%;
    font-size: 60px;
    text-align: center;
    border: 1px solid #06287e;
    color: #ffedcc;
    border-radius: 70px;
    background: #00002a;
    display: inline-block;
}

.game-button-area{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.button-area{
    margin-top: 2rem;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    display:inline-block;
}

.settings-body{
    width: 100%;
    display:inline-block;
}

img{
    width: 25%;
    height: 20%;
    border: 0.25rem solid midnightblue;
    border-radius: 3rem;
}


.cards-settings-area{
    width: 65%;
    text-align: center;
    display:inline-block;
    vertical-align: top;
    margin-top: 2rem;
}

.cards-settings-label{
    text-align: left;
    display:inline-block;
    width: 50%;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px;
}

.cards-settings {
    margin-bottom: 1rem;
	display: inline-block;
	position: relative;
	width: 10rem;
}

.cards-settings input[type="number"], [type="checkbox"] {
	display:inline-block;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 400;
	height: calc(3rem + 2px);
	line-height: 1.5;
	width: 100%;
	padding: 0.375rem 0.75rem;
    color: #212529;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cards-settings input[type="number"]::-webkit-outer-spin-button,
.cards-settings input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: calc(2rem);
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-right: 1px solid #ddd;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: calc(2rem);
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-left: 1px solid #ddd;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
}


#progressbar_block {
    width: 100%;
    background-color: grey;
}

#progressbar {
    width: 1%;
    height: 30px;
    background-color: lightskyblue;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
}
