<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'russian_loto.css', _external=True) }}"/>
</head>

<body class="main-container">
    <div>
        <div class="container">
            <div class="top-panel">
                {% block top_info %}
                {% endblock %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        {% block progressbar %}
        {% endblock %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>