{% extends "base.html" %}
{% block top_info %}
    <div class="game-button-area">
        <a href="/">
            <button class="game-button" id="new_game">Новая игра</button>
        </a>
    </div>
    <div class="current-loto-number" id="current_number">Start</div>
    <div class="game-button-area">
        <button class="game-button" id="exit_game">Закончить</button>
    </div>
{% endblock %}

{% block content %}
    <span id="game_speed" hidden>{{ game_speed }}</span>
    <div class="robot" id="robot">
        <h3>Карточки робота</h3>

        {% for card in robot_cards %}
            <table class="display-table">
                <tbody>
                {% for row in card %}
                    <tr>
                        {% for number in row %}
                            <td class="numbers" value="{{ number }}">
                                {% if number %}{{ number }}{% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>

    <div class="me" id="me">
        <h3>Ваши карточки</h3>

        {% for card in your_cards %}
            <table class="display-table">
                <tbody>
                {% for row in card %}
                    <tr>
                        {% for number in row %}
                            <td class="numbers" value="{{ number }}">
                                {% if number %}{{ number }}{% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    </div>
{% endblock %}

{% block progressbar %}
    <div class="progressbar" id="progressbar_block">
        <div id="progressbar"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src={{ url_for('static', filename = 'loto_scripts.js', _external=True) }}></script>
{% endblock %}
