{% extends "base.html" %}
{% block top_info %}
    <div class="settings-title">
        <h1>Настройки игры</h1>
    </div>
{% endblock %}
{% block content %}

    <form action="" method="post">
        <div class="settings-body">
            <img src="{{ url_for('static', filename = '1676243576_grizly-club-p-russkoe-loto-klipart-17.jpg', _external=True) }}">
            <div class="cards-settings-area">
                <div class="cards-settings-label">Число карточек:</div>
                <div class="cards-settings">
                    <button class="number-minus" type="button"
                            onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-
                    </button>
                    <input type="number" min="1" value="1" max="3" readonly name="cards_quantity">
                    <button class="number-plus" type="button"
                            onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+
                    </button>

                </div>
                <div class="cards-settings-label">Промежуток в секундах между числами:</div>
                <div class="cards-settings">
                    <button class="number-minus" type="button"
                            onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-
                    </button>
                    <input type="number" min="2" value="2" max="5" readonly name="game_speed">
                    <button class="number-plus" type="button"
                            onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+
                    </button>

                </div>
                <div class="cards-settings-label">Играть с Вектором:</div>
                <div class="cards-settings">
                    <input type="checkbox" checked readonly name="play_with_robot">
                </div>
            </div>
        </div>
        <div class="button-area">
            <button class="game-button new-game-button" id="new_game" type="submit">Играть</button>
        </div>
    </form>
{% endblock %}
